body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.login-box {
    border: 3px solid rgb(87, 163, 184);
    padding: 20px;
    background-color: beige;
    width: 30%;
    align-items: center;
    box-shadow: 20px 20px 30px black;

}

h3{
    text-align: center;
}

a{
    text-decoration: none;
}